@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");

@import url("components/sidebar.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/dropdown.css");
@import url("components/card.css");
@import url("components/alert.css");
@import url("components/searchform.css");
@import url("components/navbar.css");

html,
body {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1 {
  border-bottom: 1px solid black;
  text-align: center;
}

h2 {
  margin-top: 80px;
  border-bottom: 1px solid black;
}

h3 {
  margin: 20px 0;
}

p {
  text-align: center;
}

.home {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: url(../images/Landing1.png);
  background-size: cover;
  color: white;
}

.landingsec {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 110px;
}

.landingsec > img {
  max-width: 90%;
}

.logo {
  width: 20%;
  position: relative;
  top: 5px;
  left: -5px;
}

.main {
  /* margin-left: 24%; */
  width: 76%;
  float: right;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

hr {
  background: black;
  width: 100%;
}

article {
  margin-top: 50px;
}

@media (max-width: 700px) {
  p,
  h1 {
    border: none;
    padding: 15px;
  }
  h3 {
    text-align: center;
  }
  .sidebar {
    display: none;
  }
  .main {
    margin: 0;
    width: 100%;
  }
}
