.buttonSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn {
  text-decoration: none;
  margin: 50px;
}

.btn-ghost {
  color: #4a4a4a;
  border: 1px solid #4a4a4a;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
}

.btn-gost-large {
  color: #fff;
  border: 2px solid #fff;
}

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #1edd88;
  transition: background 0.3s ease;
  border: none;
}

.btn-flat:hover {
  background: #1bcb7f;
  color: white;
}

.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: linear-gradient(#167ffb, #0f60c4);
  transition: background 0.3s ease;
  border: 1px solid #0f60c4;
}

.btn-gradient:hover {
  background: linear-gradient(#147eff, #0f67da);
  color: white;
}
